<!DOCTYPE html>
<html lang="pt-BR">

<%-include('templates/head')%>

<body>

    <%-include('templates/nav')%>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form action="/salvarpergunta" method="POST">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input type="text" placeholder="Título" class="form-control" id="titulo" name="titulo">
                        <label for="descricao">Descrição</label>
                        <textarea placeholder="Descreva sua pergunta!" class="form-control" id="descricao"
                            name="descricao"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>

       
    <%-include('templates/bootstrap-js')%>


</body>

</html>